package html

templ Redirect(url string) {
    <!DOCTYPE html>
    <meta http-equiv="refresh" content="3; URL={ url }" />
    <title>shorturl.space</title>
    <p>Redirecting to <a href="{ url }">{ url }</a>..</p>
}
