<!DOCTYPE html>
<title>shorturl.space</title>
<h1>shorturl.space</h1>
<div>
    <input type="text" id="url-input" />
    <button id="shorten-button">Shorten</button>
</div>
<script type="text/javascript">
  (() => {
    const fetchNewCode = (url) => {
        const requestBody = {
            urlOriginal: url
        };

        fetch("http://localhost:8000/api/new", {
            method: "POST", 
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestBody)
        })
        .then((response) => response.json())
        .then((responseJSON) => console.log(responseJSON["urlCode"]))
        .catch((error) => console.log(error));
    };

    let urlInput = document.getElementById("url-input");
    let button = document.getElementById("shorten-button");
    button.addEventListener('click', function() {
      let url = urlInput.value;
      fetchNewCode(url);
    })
  })()
</script>
